{% extends "TCParkingBundle::layout.html.twig" %}

{% block tcparking_body %}

              <section class="container">
                  <div class="row">
                      <!--Item Detail Content-->
                      <div class="col-md-9">
                          <section class="block" id="main-content">

                              <div class="row">

                                  <!--Content-->
                                  <div class="col-md-8 col-sm-8">
                                      <section>
                                          <article class="item-gallery">
                                              <div class="owl-carousel item-slider">
                                                {% if parking.image is not null %}
                                                  <div class="slide"><img src="{{ parking.image.url }}"</div>
                                                {% else %}
                                                  <div class="slide"><img src="{{ asset('images/1.jpg') }}"</div>
                                                {% endif %}
                                              </div>
                                          </article>
                                          <!-- /.item-gallery -->
                                          <article class="block">
                                              <header><h2>Description</h2></header>
                                              <p>
                                                  {{parking.description}}
                                              </p>
                                          </article>
                                        <!-- /.block -->
                                      </section>
                                      <!--Reviews-->
                                  </div>
                                  <!-- /.col-md-8-->
                                  <!--Detail Sidebar-->
                                  <aside class="col-md-4 col-sm-4" id="detail-sidebar">
                                      <!--Contact-->
                                      <section style="background-color: #f4f4f2; padding: 10px">
                                          <header><h3>Address</h3></header>
                                            <div>{{parking.adresse}}</div>
                                            <div>{{parking.postcode}}</div>
                                            <hr>
                                            <h3>Contact</h3>
                                            {% if parking.telephone is not null %}
                                            <figure>
                                                  <div class="info">
                                            <!--      <i class="fa fa-phone"></i> -->
                                                      <span>Phone number: {{parking.telephone}}</span>
                                                  </div>
                                            </figure>
                                            {% endif %}
                                            <hr>
                                            <div><a href="{{ path('tc_parking_edit', {'id': parking.id}) }}"><font color="#00763c">Modifier ce parking</font></a></div>
                                            <div><a href="{{ path('tc_parking_delete', {'id': parking.id}) }}"><font color="#bf0000">Supprimer ce parking</font></a></font></div>
                                            <hr>
                                            <div><font color="#0000b3">Ajouter un commentaire</font></div>
                                      </section>
                                      <!--end Contact-->

                                  </aside>
                                  <!--end Detail Sidebar-->
                              </div>
                              <!-- /.row -->
                          </section>
                          <!-- /#main-content-->
                      </div>
                      <!-- /.col-md-8-->
                      <!--Sidebar-->

                      <!-- /.col-md-3-->
                      <!--end Sidebar-->
                  </div><!-- /.row-->
              </section>

{% endblock %}
